# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/

# Logs
*.log

# Dependencies
node_modules/

# Build folders
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Temporary files
tmp/
temp/

# Cache
.cache/
.parcel-cache/

# System
*.swp
*.swo

# Draft files
screenshots/
drafts/